@import "variables";

.about_me {
    background-color: $common-grey;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration-line: none;
    text-decoration: none;
    font-size:100%;
}
p, li {
    font-family: "Roboto", sans-serif;
}
.headshot {
    background-image: url("images/headshot_casual_resize.png");
    background-size: cover;
    background-size: contain;
    height: 200px;
    width: 200px;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    border-radius: 80%;
    margin-top: 20px;
}

.headshot:hover {
    background-image: url("images/headshot_formal_resize.png");
}

// dropdown fact
nav {
    position: relative;
    perspective: 600px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
  }

  .trigger-enter .dropdown {
    display: block;
  }

  .trigger-enter-active .dropdown {
    opacity: 1;
  }
  
  .dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
  }

  .dropdownBackground.open {
    opacity: 1;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
  }

  .fact_one {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
  }