@import "variables";
.homepage {
    background-color: $large-yellow;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    // do I need to set height to % as well?
    margin-bottom: 20px;
    color: #FFFFFF;
}
h2 .slogan_highlight {
    color: $common-purple;
}
.signature_highlight {
    color: $small-red;
}
.my_signature p .role_title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.slogan {
    padding:0;
    margin-left: 8%;   
    margin-top: 5%;
    width: 80%;
}
.slogan h2 {
    color: #FFFFFF;
    font-size:3em;
    font-weight:500;
    padding: 0;
    margin: 0;
    display: block;
    position:relative;
    z-index:1;
    text-align: left;
}
.slogan img {
    width: 15%;
    height: 8%;
    max-width: 80px;
    min-width: 60px;
    max-height: 90px;
    min-height: 80px;
    padding: 0;
    z-index: 0;
    position: absolute;
    top: 40%;
    left:40%;
}

.my_signature {
    display:block;
    padding: 0;
    margin-left: 40%;
    margin-top: 100px;
}
.my_signature #name {
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    font-weight:600;
    padding: 0;
    margin-left: 44%;
}
.my_signature #role_title {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight:200;
    padding: 0; 
    margin-left: 30%;
}
.social_media_link {
    text-align: center;
    margin: 40px;
    margin-top:-4px;
}
.social_media_link #linkedIn {
   width: 22px;
   height: 22px;
   margin: 5px;
   padding: 0;
   &:hover {
    transform: scale(1.5);
    }
}
.social_media_link #github {
    width: 22px;
    height: 22px;
    margin: 5px;
    padding: 0;
    &:hover {
        transform: scale(1.5);
        }
          
}

@media screen and (min-width:700px) {
    .slogan {
        padding:0;
        margin-left: 15%;   
        margin-top: 5%;
        width: 65%;
    }
    .slogan h2 {
        color: #FFFFFF;
        font-size:5em;
        font-weight:500;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        display: inline-block;
        position:relative;
        z-index:1;
        text-align: left;
    }
    .slogan img {
        width: 15%;
        height: 8%;
        max-width: 85px;
        min-width: 6px;
        max-height: 90px;
        min-height: 80px;
        padding: 0;
        z-index: 0;
        position: absolute;
        top: 38%;
        left:45.25%;
        display: inline-block;
    }
    .my_signature {
        display: block;
        padding: 0;
        margin-left: 40%;
        margin-top: 100px;
    }
    .social_media_link {
        text-align: center;
        margin: 40px;
        margin-top:50px;
    }
}
