@import "variables";
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #B8C7C9;
    font-size: 32px;
    display:block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
h2 {
    font-size: 40px;
    color: $title-blue;
    text-align: center;
    display: block;
    display: relative;
    margin: 0;
}
.goalnut_app {
    // height:50%;
    display:relative;
    margin-bottom: 10px;
}
.goalnut_app a {
    display: block;
    text-decoration-line: none;
    text-decoration: none;
    &:hover {
        transform: translate(-10px, -20px);
      }
}

.goalnut_app a #goalnut_bg {
    display: block;
    display: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.goalnut_app a #goalnut_display {
    display: block;
    display: relative;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin-top: -65%;
}
.goalnut_app a #goalnut_title_1 {
    margin-top: -35px;
}
.goalnut_app a #goalnut_title_2 {
    // margin-top: -5px;
    margin-bottom: 40px;
}
.css_zen_garden {
    // height:50%;
    display:relative;
    margin-bottom: 10px;
}
.css_zen_garden a {
    display: block;
    text-decoration-line: none;
    text-decoration: none;
    &:hover {
        transform: translate(-10px, -20px);
      }
}

.css_zen_garden #css_zen_garden_bg {
    display: block;
    display: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.css_zen_garden #css_zen_garden_display {
    display: block;
    display: relative;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin-top: -65%;
}
.css_zen_garden #css_zen_garden_title_1 {
    display: relative;
    margin-top: -40px;
}
.css_zen_garden #css_zen_garden_title_2 {
    margin-bottom: 40px;
}
.future_coder_project_1 {
    display:relative;
    margin-bottom: 10px;
}

.future_coder_project_1 #future_project_1_bg {
    display: block;
    display: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.future_coder_project_1 #future_project_1_display {
    display: block;
    display: relative;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin-top: -65%;
}
.future_coder_project_1 #future_coder_project_1_title_1 {
    display: relative;
    margin-top: -40px;
}
.future_coder_project_1 #future_coder_project_1_title_2 {
    margin-bottom: 40px;
}
.future_coder_project_2 {
    // height:50%;
    // display:relative;
    display:relative;
    margin-bottom: 10px;
}
// .future_coder_project_1 a {
//     display: block;
//     text-decoration-line: none;
// }
.future_coder_project_2 #future_project_2_bg {
    display: block;
    display: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.future_coder_project_2 #future_project_2_display {
    display: block;
    display: relative;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin-top: -65%;
}
.future_coder_project_2 #future_coder_project_2_title_1 {
    display: relative;
    margin-top: -40px;
}
.future_coder_project_2 #future_coder_project_2_title_2 {
    margin-bottom: 40px;
}

@media screen and (min-width:380px) {
    h2 {
        font-size: 50px;
    }
    .goalnut_app a #goalnut_title_1 {
        margin-top: -50px;
    }
    .css_zen_garden #css_zen_garden_title_1 {
        margin-top: -50px;
    }
    .future_coder_project_1 #future_coder_project_1_title_1 {
        margin-top: -50px;
    }
    .future_coder_project_2 #future_coder_project_2_title_1 {
        margin-top: -50px;
    }
}
@media screen and (min-width:700px) {
    h2 {
        font-size: 78px;
    }
    .goalnut_app a #goalnut_title_1 {
        margin-top: -80px;
    }
    .css_zen_garden #css_zen_garden_title_1 {
        margin-top: -80px;
    }
    .future_coder_project_1 #future_coder_project_1_title_1 {
        margin-top: -80px;
    }
    .future_coder_project_2 #future_coder_project_2_title_1 {
        margin-top: -80px;
    }
}
@media screen and (min-width:1000px) {
    h2 {
        font-size: 80px;
    }
    .goalnut_app a #goalnut_title_1 {
        margin-top: -80px;
    }
    .css_zen_garden #css_zen_garden_title_1 {
        margin-top: -80px;
    }
    .future_coder_project_1 #future_coder_project_1_title_1 {
        margin-top: -80px;
    }
    .future_coder_project_2 #future_coder_project_2_title_1 {
        margin-top: -80px;
    }
    .project_row_1 {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    .project_row_2 {
        display: flex;
        justify-content: space-around;
    }
    .future_coder_project_1 #future_project_1_bg {
        display: block;
        display: relative;
        width: 90%;
        height: 60%;
        padding: 5%;
    }
    .future_coder_project_1 #future_project_1_display {
        display: block;
        display: relative;
        width: 80%;
        height: 60%;
        padding: 10%;
        margin-top: -68%;
    }
    .future_coder_project_2 #future_project_2_bg {
        display: block;
        display: relative;
        width: 90%;
        height: 60%;
        padding: 5%;
    }
    .future_coder_project_2 #future_project_2_display {
        display: block;
        display: relative;
        width: 80%;
        height: 60%;
        padding: 10%;
        margin-top: -68%;
    }
}
