@import "variables";
h2 {
    font-size: 40px;
    color: $title-blue;
    text-align: center;
    display: block;
    display: relative;
    margin: 0;
}
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #B8C7C9;
    font-size: 32px;
    display:block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #B8C7C9;
    font-size: 25px;
    display:block;
    text-align: center;
    margin-bottom: 30px;
}

.project_scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
        .card {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
}
.card a {
    display: block;
    text-decoration-line: none;
    text-decoration: none;
    &:hover {
        transform: translate(-1px, -1px);
      }
}
.card .project_bg {
    display: block;
    display: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.card .project_img {
    display: block;
    display: relative;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin-top: -65%;
}
.card .card_title_1 {
    margin-top: -35px;
}
.card .card_title_2 {
    margin-bottom: 40px;
}

@media screen and (min-width:380px) {
    h2 {
        font-size: 50px;
    }
    .card .card_title_1 {
        margin-top: -50px;
    }
}
@media screen and (min-width:700px) {
    h2 {
        font-size: 70px;
    }
    .card .card_title_1 {
        margin-top: -80px;
    }
    .card {
        width: 50%;
        height: 100%;
    }
    // .card .project_bg {
    //     width:60%;
    //     height: 100%;
    // }
    // .card .project_img {
    //     width: 50%;
    //     height: 100%;
    // }
}
@media screen and (min-width:1000px) {
    h2 {
        font-size: 75px;
    }
}
