$large-yellow: #F2D51D;
// $large-yellow: #EBD51E;
// $large-yellow: #EDD318;
// $large-yellow: #EBD11E;
// $small-yellow: #E6E117;
// $small-yellow: #F0E618;
// $small-yellow: #E6DC17;
$small-yellow: #EDDA1F;
$large-red: #DE0B00;
$small-red: #F70200;
// $common-grey: #DEE3E3;
$common-grey: #E6EBEB;
$text-grey: #768C8C;
$title-blue: #032644;
$common-purple: #919EFF;